.botaoAdicionar{
    width: 100%;
    background-color: #4400b2;
    border-radius: 2rem;
    color: white;
    margin: 1rem 0;
    height: 4.5rem;
    font-size: 1.25rem;
    transition: 400ms;
}
.botaoAdicionar:hover{
    background-color: #37018e;
}